@import url("./blocks/header.css");
@import url('./blocks/navigation.css');
@import url('./blocks/page-main.css');
@import url('./blocks/advantages.css');
@import url('./blocks/book.css');
@import url('./blocks/map.css');

@media (max-width: 700px ) {
    html{
        font-size: 10px;
    }
}


@media (max-width: 460px ) {
    html{
        font-size: 8px;
    }
}
@media (max-width: 400px ) {
    html{
        font-size: 7px;
    }
}