.authorization{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.authorization_block{
    display: flex;
    justify-content: space-between;
}
.authorization_text{
    font-family: 'Kurale';
    color: var(--black);
    
}
.authorization_text-block{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.authorization_link{
    text-decoration: none;
    min-width: 40%;
    padding: 7px;
    display: flex;
    border: 2px solid var(--darkGreen);
}
.authorization_link:hover{
    background-color:  rgba(174, 214, 222, 0.2);
}
.authorization_link:active{
    background-color:  rgb(127, 180, 191);;
}
.authorization_link--blue{
    background-color: rgba(174, 214, 222, 0.37);
}
.authorization_separator{
    display: flex;
    gap: 60px;
    align-items: center;
}
.authorization_line-text{
    font-family: 'Kablammo';
    font-size: 2rem;
    color: var(--darkGreen);
}
.authorization_line{
    width: 100%;
    height: 3px;
    background-color: var(--darkGreen);
}

@media (max-width: 700px ) {
    .authorization_separator{
        display: none;
    }
}
@media (max-width: 500px ) {
    .authorization_text-block{
        display: none;
    }
    .authorization_link{
        justify-content: center;
    }
}