.btn{
    border: none;
    padding: 10px 35px;
    border-radius: 30px;
    font-family: 'Kurle';
    font-size: 1.5rem;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.btn--right-padding{
    border: 1px solid var(--darkGreen);
    max-width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
    background-color: var(--darkGreen);
    color: var(--white);
}

.btn--white{
    border: 2px solid var(--white);
    background-color: var(--white);
    color: var(--darkGreen);
}

.btn--right-padding:hover{
    background-color: transparent;
    color: var(--darkGreen);
}
.btn--right-padding:active{
    background-color: rgba(0, 0, 0, 0.06);
    color: var(--darkGreen);
}
.btn--white:hover{
    background-color: transparent;
    color: var(--white);
}
.btn--white:active{
    background-color:rgba(255, 255, 255, 0.275);
    color: var(--white);
}

@media (max-width: 1100px ) {
    .btn--right-padding{
        max-width: none;
    }
    
}