.catalog{
    padding: 0 0 70px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.catalog_title{
    font-size: 3rem;
    font-family: 'Kablammo';
    color: var(--darkGreen);
}
.catalog_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.catalog_button-block{
    display: flex;
    gap: 20px;
}
.catalog_button{
    cursor: pointer;
    border: 3px solid var(--black);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--white);
    transition: .3s ease-in-out;
}
.catalog_button:hover{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);;
}
.catalog_button:active{
    background-color: var(--lightBlue);   
}
.catalog_button--active{
    background-color: var(--lightBlue);   
}
.catalog_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.catalog_pagination{
    display: flex;
    align-items: center;
    width: 100%;
}
.catalog_pagination-line{
    width: 100%;
    height: 2px;
    background-color: var(--black);
    opacity: .3;
}
.catalog_pagination-icon{
    width: 90px;
    height: 90px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.catalog_pagination-icon:hover{
    opacity: .6;
}
.catalog_content--free-col{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1750px) {
    .catalog_content{
        grid-template-columns: 1fr;
    }
    .catalog_button-block{
        display: none;
    }
}
@media (max-width: 1750px) {
    .catalog_content--free-col{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 500px) {
    .catalog_content--free-col{
        display: flex;
        flex-direction: column;
    }
    .catalog{
        width: 100%;
    }
}

