.form{
    display: flex;
    flex-direction: column;
}
.form_content{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 40px;
}
.form_block{
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}
.form_link{
    color: var(--black);
}
.form_label{
    width: 100%;
    font-family: 'Kablammo';
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    color: var(--darkGreen);
}
.form_label-checkbox{
    gap: 10px;
    font-family: 'Kurale';
    font-size: 1.5rem;

}
.form_input{
    width: 100%;
    padding: 7px 20px;
    border: 3px solid var(--darkGreen);
    font-size: 1.3rem;
    font-family: 'Kurale';
    border-radius: 30px;
}
.form_input-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 3px solid var(--darkGreen);
    transition: 500ms;
    cursor: pointer;
}
.form_input-checkbox::before{
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    background-image: url('../../../pic/base/form/check.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.form_input-checkbox:hover::before{
    opacity: 0.3;
}
.form_input-checkbox:checked{
    background-color: var(--lightGreen);
}
.form_input-checkbox:checked::before{
    opacity: 1;
}
.form_input:focus{
    outline: none;
}
.form_button{
    width: 100%;
    background-color: var(--lightBlue);
    color: var(--darkGreen)
}
.form_button:hover{
    background-color: rgba(174, 214, 222, 0.37);
}
.form_button:active{
    background-color: rgb(127, 180, 191);
}
@media (max-width: 900px) {
    .form_block{
        flex-direction: column;
    }
    .form_input{
        width: 100%;
    }
}