.page-main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-main-block {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-top: 80px;
    gap: 10%;
}
.page-main_content{
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-bottom: 120px;
}
.page-main_content-text{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.page-main_title{
    font-family: 'Kablammo';
    font-size: 8.4rem;
    color: var(--darkGreen);
}
.page-main_subtitle{
    font-family: 'Kurule';
    line-height: 35px;
    font-size: 2rem;
    color: var(--black);
}
.page-main_btn-block{
    display: flex;
    flex-direction: column;
}

.page-main_btn-title{
    padding-left: 26px;
    color: var(--white);
    font-size: 1.5rem;
}
.page-main_arrow-block{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px;
    background-color: var(--white);
    border-radius: 50px;
}

.page-main_footer{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 30px;
    justify-content: space-between;
}

.page-main_tag-list{
    display: flex;
    align-items: center;
    gap: 20px;
}
.page-main_tag{
    border-radius: 20px;
    border: 1px solid var(--lightGreen);
    padding: 5px 40px;
}

.page-main_tag-title{
    font-family: 'Kurule';
    white-space: nowrap;
    color: var(--lightGreen);
    font-size: 1.5rem;
}
.page-main_decor{
    top: -20%;
    left: -5%;
    z-index: -1;
    position: absolute;
    width: 650px;
    height: 650px;
    border-radius: 100%;
    background-color: rgba(161, 181, 167, 0.31);
    filter: blur(100px);
}


@media (max-width: 1700px ) {
    .page-main_footer{
        justify-content: end;
    }
    .page-main_tag-list{
        display: none;    
    }
    
}
@media (max-width: 1100px ) {
    .page-main_title{
        font-size: 6rem;
    }
    .page-main{
        display: flex;
    }
    .page-main-block{
        width: 100%;
        display: flex;
    }
}

@media (max-width: 700px ) {
    .page-main{
        padding: 10px;
    }
}


