.hero{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero_feed{
    display: grid;
    grid-template-rows: 3fr 2fr;
    width: 100%;
    gap: 40px;
}
.hero_title{
    font-family: 'Kablammo';
    font-size: 2.5rem;
    font-weight: normal;
    color: var(--darkGreen);
}
.hero_banner-title{
    font-family: 'Kablammo';
    font-size: 3rem;
    color: var(--white);
    font-weight: normal;
    max-width: 520px;
}
.hero_banner-text{
    font-family: 'Kurale';
    font-size: 2rem;
    color: var(--white);
    line-height: 1.5;
    max-width: 520px;
}
.hero_content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}
.hero_banner{
    position: relative;
    background-image: url("../../../../pic/main/hero/back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 100px;
    border-radius: 20px;
    overflow: hidden;
}
.hero_banner::before{
    content: "";
    width: 40%;
    height: 100%;
    max-width: 390px;
    max-height: 600px;
    position: absolute;
    background-image: url("../../../../pic/base/card/grass.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    top: 10%;
    right: 5%;
}
.hero_banner-block{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.hero_feed-card-avatar{
    border-radius: 100%;
}
.hero_feed-card-title{
    position: relative;
    font-family: "Kablammo";
    font-size: 2.3rem;
    font-weight: normal;
    color: var(--white);
}
.hero_feed-card-title::before{
    content: "OFFERING";
    position: absolute;
    font-size: 1.5rem;
    right: 0;
    left: 0;
    top: 60%;
    text-align: center;
    color: var(--black);
}
.hero_feed-card-text{
    font-size: 1rem;
    font-family: 'Kurale';
}
.hero_feed-card{
    position: relative;
    background-color: var(--tagFlower);
    padding: 20px 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
}
.hero_feed-card::before{
    position: absolute;
    content: "";
    background-image: url("../../../../pic/base/card/tea.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 150%;
    height: 150%;
    left: 10%;
    bottom: -10%;
}
.hero_feed-card-line{
    width: 3px;
    background-color: var(--white);
}
.hero_feed-card-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero_feed-card-subblock{
    display: flex;
    gap: 10px;
}
.hero_feed-card-header{
    display: flex;
    gap: 10px;
}
.hero_feed-card-subtitle{
    font-family: 'Kurale';
    font-size: 1.5rem;
}
.hero_feed-card-text{
    font-family: 'Kurale';
    font-size: 1rem;
}
.hero_feed-block{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    gap: 30px;
}
.hero_feed-news{
    width: 100%;
    display: flex;
    background-color: var(--darkGreen);
    border-radius: 20px;
    padding: 20px 30px;
    align-items: center;
}
.hero_feed-news-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.hero_feed-news-title{
    color: var(--white);
    font-family: 'Kablammo';
    font-size: 1.5rem;
}
.hero_feed-news-version{
    color: var(--white);
    font-family: 'Kablammo';
    font-size: 2rem;
}
.hero_feed-news-line{
    width: 100%;
    height: 2px;
    background-color: var(--white);
}
.hero_feed-news-block{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-end;
}
.hero_feed-constructor{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--darkGreen);
    border-radius: 20px;
}


@media (max-width: 1350px) {
    .hero_banner::before{
        display: none;
    }
    .hero_feed-card-title{
        display: none;
    }
    .hero_feed-constructor{
        display: none;
    }
    .hero_feed-block{
        display: flex;
    }
}
@media (max-width: 1100px) {
    .hero_content{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .hero_banner{
        padding: 15px;
    }    
}