.login{
    position: relative;
    padding: 130px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}
.login_decoration{
    position: relative;
    height: 100%;
}
.login_content{
    display: flex;
    flex-direction: column;
    gap: 50px
}
.login_title{
    font-family: 'Kablammo';
    font-size: 3rem;
    color: var(--darkGreen);
    max-width: 520px;
}